<ion-card class="questionItem">
  <ion-card-header (click)="toggleAccordion()">
    <ion-list>
      <ion-list-header>
        <!-- <ion-content> -->
        <ion-item [style.background]="headerColor">
          <button ion-button clear icon-only item-right>
            <ion-icon color="light" [name]="icon" [md]="md">
            </ion-icon>
          </button>

          <ion-grid text-right>
            <ion-row>
              <ion-col width-67 no-padding>
                <div style="font-size:3.6rem;font-weight:bold;color: yellowgreen"> {{ left }} </div>
              </ion-col>
              <ion-col width-33 no-padding></ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-10 text-left no-padding>
                <div style="font-size:3.6rem;font-weight:bold;color: yellowgreen"> {{ opType }} </div>
              </ion-col>
              <ion-col width-90 offset-25 no-padding></ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-67 no-padding>
                <div style="font-size:3.6rem;font-weight:bold;color: yellowgreen"> {{ right }} </div>
              </ion-col>
              <ion-col width-33 no-padding></ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-67 no-padding>
                <hr style="height: 5px; background: yellowgreen" />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-67 no-padding>
                <div style="font-size:3.6rem;font-weight:bold;color: yellowgreen"> {{ result }} </div>
              </ion-col>
              <ion-col width-33 no-padding></ion-col>
            </ion-row>
            <ion-row>
            </ion-row>
            <ion-row>
            </ion-row>
          </ion-grid>
        </ion-item>
        <!-- </ion-content> -->
      </ion-list-header>
    </ion-list>
  </ion-card-header>
  <ion-card-content #cc>
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>