problemdisplay {
    // .input{
    //     margin-top: 15px;
    //     margin-bottom: 15px;    
    //     max-width: 55% !important;
    //     }
    //  .input {
    //      background-color:lightgray     
    //  }
    // .card-header{
    //     background-color: map-get($colors, primary);
    //     color: #fff;
    // }
    .card-content {
        padding: 0px 16px; 
        max-height: 0px;
    }
    
    .button-container {
        align-self: flex-end;
        text-align: right;
    }

    ion-grid {
        height: 50% !important;
        // border: 2px solid black;
      }

    ion-row {
        height: 20%;
      }

    .questionItem {  
        max-width: 350px;
        margin: 0px 0px 0px 0px;
    }
    
      
    
    .questionItem #footer {
        position: absolute;
        bottom: 1px;
        padding-left: 10px;
    }
}
    
