<ion-header padding-top padding-bottom style="background: #f53d3d">
    <ion-navbar no-padding class="toolbar-background-md">
        <button ion-button menuToggle style="color: yellow">
            <ion-icon name="menu"></ion-icon>
        </button>
        <!--<ion-card no-padding style="background: #f53d3d">
            <ion-card-header text-center style="font-size: 25pt;color: #f4f4f4;background: #f53d3d">
                Math Starter
            </ion-card-header>
        </ion-card>-->

        <ion-label text-center style="font-size: 25pt;color: #f4f4f4;background: #f53d3d">Math Starter</ion-label>

    </ion-navbar>

</ion-header>

<ion-content padding-left padding-right>
    <ion-grid>
        <ion-row wrap center>
            <ion-col *ngFor="let op of operations">
                <ion-card>
                    <ion-card-content (click)="goToProblem(op)"
                                      style="color: #f4f4f4;background: #488aff; height: 100px; line-height: 80px; font-size: 25px"
                                      text-center text-md-justify text-lg-center>
                        <!--  <button ion-button twitter (click)="goToProblem(op)" style="height: 100px">{{op}}</button>-->
                        {{op}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
