page-home {
  .toolbar-background-md {
    border-color: #b2b2b2;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background: #f53d3d none repeat scroll;
  }

}
