<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <progressbar [progress]="loadProgress.loadProgressStr" [title]="opTypeString" [attempts]="loadProgress.attempts" [headerColor]="loadProgress.progressColor"></progressbar>
  </ion-navbar>
</ion-header>

<ion-content padding width="300px">
  <problemdisplay *ngFor="let item of problems.data; let i=index;" [left]="item.left" [right]="item.right" [opType]="item.opType"
    [result]="item.result" [headerColor]="item.itemColor">
    <ion-grid>     
      <ion-row>
        <div *ngFor="let item of items">
          <div style="margin:5px">
            <ion-col col-sm-12 col-md-6>
              <button ion-button (click)="numberClick(item, i)">
                {{item}}
              </button>
            </ion-col>
          </div>
        </div>
      </ion-row>
    </ion-grid>
  </problemdisplay>
</ion-content>
<ion-footer>
</ion-footer>