<ion-row no-padding>
  <ion-col padding-top style="max-width: 40px" padding-right>
    <!-- <ion-card> -->
      <!-- <ion-card-content> -->
        <button clear ion-button>
          <ion-icon name="home" style="font-size: 40px" (click)="goToHomePage()"></ion-icon>
        </button>
      <!-- </ion-card-content>
    </ion-card> -->
  </ion-col> <!-- end of left column. "Home" -->
  <ion-col justify-content-center align-items-center padding-top padding-left style="max-width: 200px" col-6>
    <ion-title style="margin: 10px,15px,15px,15px">{{title}}</ion-title>
    <ion-label margin-left>{{progress}}</ion-label>
  </ion-col>
  <ion-col col-2 style="margin: 20px 20px 0px 0px;max-width:10%" item-right>
    <button clear ion-button round style="margin: 10px,10px,10px,10px" [style.background]="headerColor" style="color: white">{{attempts}}</button>
  </ion-col>
</ion-row>